h1{
	font-size: 100px;
	color: teal;
}
h2{
	font-size: 70px;
	color: teal;
}
p{
	font-size: 20px;
	color: grey;
}
span{
	color: red;
}
legend{
	color: gold;
}
label{
	color: silver;
}
fieldset{
	background-color: darkblue;
}